.wrapper {
  position: relative;
  display: inline-block;
}

.trigger {
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  text-align: left;
  background: var(--color-surface);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  margin-top: 4px;
  width: 100%;
  min-width: 180px;
  box-shadow: var(--shadow-sm);
  max-height: 250px;
  overflow-y: auto;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

/* 열렸을 때 클래스 (open) */
.dropdown.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.option {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.option:hover {
  background: var(--color-bg-third-gray);
}

.selected {
  font-weight: bold;
}

.text {
  background: none;
  color: var(--color-black);
  padding: 0;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.2s ease;
  border: none;
}
