.featureOverflowRight {
  width: 100%;
  left: 0;
  transform: none;
  position: relative;

  max-width: none;
  margin-left: 0;
}

.section {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  border-radius: 2.6rem;
  margin: 3rem 0;
}

.date {
  color: rgba(var(--color-text-rgb), 0.5);
}

.imageCard {
  min-width: clamp(42rem, 42vw, 60rem);
}
.imageCard img {
  border-radius: 24px;
}

@media (min-width: 700px) {
  .featureOverflowRight {
    width: 100vw;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    max-width: none;
  }
}
