.container {
  width: 100%;
  max-width: 60rem;

  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
  box-shadow: var(--base-shadow);
}

.wrap {
  width: 100%;
  max-width: 33rem;

  display: flex;
  flex-direction: column;

  margin: 0 auto;

  gap: 1rem;
}
