.modal {
  width: 90%;
  max-width: 800px;
  background-color: var(--color-bg);
  color: var(--color-text);
  border-radius: var(--base-radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  padding: 1.5rem;

  max-height: 80vh;
  overflow-y: auto;

  transform: translateY(50px);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.show.overlay {
  opacity: 1;
  pointer-events: auto;
}

.show.modal {
  opacity: 1;
  transform: translateY(0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 1rem;
}

.closeBtn {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1rem;
  cursor: pointer;
}

.content {
  line-height: 1.6;
}

.dark .modal {
  background-color: var(--color-bg);
  color: var(--color-text);
}
