.section {
  padding: 5rem 0 4rem 0;
  text-align: center;
}

.desc {
  font-size: 1.8rem;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 700px) {
  .grid {
    max-width: 90rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
  }
}
