.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: var(--ele-border-radius);

  cursor: pointer;

  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

/* ===== Variant Styles ===== */
.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-bg-second-gray);
  color: var(--color-text);
}

.ghost {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* ===== Size Variants ===== */
.sm {
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
}

.md {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}

.lg {
  font-size: 1.8rem;
  padding: 1.2rem;
}

/* ===== Icon Container ===== */
.icon {
  display: inline-flex;
}
