.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;

  padding: 1rem;
  word-break: keep-all;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}
