.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--color-bg);
  background-color: rgba(var(--color-gray-rgb), 0.4);
  border-radius: var(--base-radius);

  outline: none;
  transition: border-color 0.2s ease;
}

.input:focus {
  border: 1px solid var(--color-primary);
  outline: none;
}

.input.active {
  border-color: var(--color-primary);
  background: rgba(var(--color-gray-rgb), 0.4);
}

.input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.icon {
  position: absolute;
  right: 1em;
  pointer-events: none;
  color: var(--color-icon);
  font-size: 1.1rem;
}

.input::placeholder {
  color: var(--color-secondery-gray);
  font-size: inherit;
}

.input.sm {
  font-size: 1.2rem;
}

.input.md {
  font-size: 1.6rem;
}

.input.lg {
  font-size: 2rem;
}

.input.error {
  border-color: var(--color-danger);
  outline-color: var(--color-danger);
}

.errorMessage {
  color: var(--color-danger);
  font-size: 1rem;
  margin-top: 0.25rem;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
