.container,
.dropdown {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  pointer-events: none;
  overflow: hidden;

  transition-property: max-height, opacity, transform;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: 0.4s, 0.3s, 0.3s;
  transition-delay: 0s, 0.1s, 0.1s;

  will-change: max-height, opacity, transform;
}

.container.open,
.dropdown.open {
  max-height: 100rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.section {
  border-bottom: 1px solid var(--color-gray);
  padding: var(--header-height) var(--base-padding);
}

.section .toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--color-text);
  padding: 0;
}

.section .toggle:hover {
  color: rgba(var(--color-text-rgb), 0.6);
}

.section .toggle:focus {
  font-weight: 600;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown .link {
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding: 0;
  text-decoration: none;
}

.dropdown .link:hover {
  color: rgba(var(--color-text-rgb), 0.6);
}

.authBox {
  padding: var(--base-padding);
  text-align: center;
}

.startButton {
  width: 100%;
  color: var(--color-text);
  font-weight: bold;
}

.authText {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: var(--color-secondary-gray);
}

.loginLink {
  color: var(--color-success);
  font-size: 1.2rem;
  font-weight: bold;
}
