.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(5px, 3vw, 100px);
}

.navList,
.authList {
  display: flex;
  gap: var(--base-gap);
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.link:hover {
  color: rgba(var(--color-text-rgb), 0.6);
  font-weight: bold;
}

.submenu {
  width: 30rem;

  display: none;

  position: absolute;
  top: 100%;
  left: 0;

  border-radius: 1rem;

  background: var(--color-bg);
  box-shadow: var(--base-shadow);

  padding: var(--base-gap);
}

.navItem {
  position: relative;
}

.navItem:hover .submenu,
.navItem:focus-within .submenu {
  display: block;
}

.subLink {
  display: block;
  padding: var(--base-padding) !important;
  white-space: nowrap;
}

.subLink:hover {
  color: rgba(var(--color-primary-rgb), 0.8);
}
